/*****************************************
共通のスタイル
*****************************************/

@import url("header.css");
@import url("footer.css");

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-style: normal;
    margin: 0px;
    background-color: #F3F2EF;
}

main {
    height: 100%;
    width:90%;
    margin:0% 5%;
}

ul {
    margin: auto;
}

li {
    list-style: none;
}

/*****************************************
共通の部品
*****************************************/
.return-btn {
    padding: 0% 20%;
    width: 30%;
    margin: 5% auto;
}

.return {
    /* color: #000B77; */
    font-weight: 700;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #F3F2EF;
    background-color: #000B77;
    width: 100%;
    margin: 0% auto;
    padding: 10px 10px;
    border: 1px solid #000B77;
    border-radius: 10px;
    box-sizing: border-box;
}

.return:link, .return:visited {
    color: #F3F2EF;
    font-weight: 700;

}
.return:hover {
    border: 1px solid #000c7794 ;
    background-color: #000c7794;
    color: #f3f2efb2;
    transition: 0.5s;
}

img.bg{
    display: flex;
    margin: 0% auto;
    object-fit: cover;
    width: 90%;
    height: auto;

}
