body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-style: normal;
  font-weight: 700;
  width:90%;
  margin:0% 5%;
  background-color:#F3F2EF;
}

/* body {
    margin: 40px 10px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  } */

#loading {
    display: none;
    position: absolute;
    top: 10%;
    right: 50%;
}

#calendar {
    width: 90%;
    height:auto;
    margin: 0 auto;
}


a:link, a:visited, a:hover, a:active {
  color: #000B77;
}

header{
  padding-top: 2.5%;
  display: flex;
}

#header-logo{
  float: left;
  width: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-logo a{
  text-decoration: none;
  padding: auto;
  
}

#header-list{
  display:flex; 
  width: 80%;
  margin: 0 0 0 5%;
}

#header-list ul{
  display:flex; 
  justify-content:end;
  width:112.5%;
}

#header-list li {
  text-align: center;
  padding: 0%;
  width: 12.4%;
  list-style: none;
} 

#header-list li a {
  width: auto;
  white-space: nowrap;
  font-size: 18px;
  text-decoration: none;
  padding: 10% 7%;
  border: 2px solid none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#header-list li a:hover {
  background-color: rgba(255, 255, 255, 0.781);
  color:  #000c77b9;
   -webkit-transition: 0.7s;
   -moz-transition: 0.7s;
   -o-transition: 0.7s;
   transition: 0.7s;
   opacity: 0.7;
}

#main-title h2{
  padding: 2.5% 5%;
  margin: 2.5% auto;
  color: #000B77;
  font-weight: 700;
}

#new_event ul, .tabs ul, #voice ul{
  display: flex;
}

#new_event li, .tabs li, #voice li{
  list-style: none;
}

#new_event li a, .tabs li a, #voice li a{
  text-decoration: none;
}

img.ev{
  display: flex;
  padding: 0% 20%;
  margin: 5% auto .5% auto; 
  object-fit: cover;
  width: 50%;
  height: auto;
  background-color: #FFF;
}

#select{
  margin: 5%;
}

#select h1 {
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #000B77;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
  font-size: 24px;
}

#new_event ul, .tabs ul{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display:flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  padding: 0%;
}

#new_event li, .tabs li{
  padding: 2.5%;
  margin: 0 3%;
}


#new_event li a, .tabs li a {
  color: #000B77;
  font-weight: 700;
  display: block;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  opacity: 1;
}

#new_event li a:hover, .tabs li a:hover {
  color:  #000c77b9;
   -webkit-transition: 0.7s;
   -moz-transition: 0.7s;
   -o-transition: 0.7s;
   transition: 0.7s;
   opacity: 0.7;
}


/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  margin-bottom: 2.5%;
  border: 1px solid #eceaea;
  box-sizing: border-box;
  background-color: #eceaea;
  width: calc(100%/3);
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #000B77;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}

.tab_item:hover {
  opacity: 0.75;
  color: #000c77be;
  transition: 0.5s;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#home1:checked ~ #home1_content,
#home2:checked ~ #home2_content,
#home3:checked ~ #home3_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #000c77b9;;
  color: #fff;
}

#voice ul{
  display:flex;
  justify-content: space-evenly;
  padding: 0%;
}

#voice li{
  width: calc(90%/3);
  margin: 2.5% 2.5% 5% 2.5%;
}

.name{
  color: #000B77;
  font-size: 18px;
}

.voice_content{
  width: 90%;
  padding: 5%;
  border: 1px solid #000c77b9;
  line-height: 35px;
  box-shadow: 0px 5px 1px #000c77b9;
  border-radius: 5px;
}

.return-btn {
  padding: 0% 20%;
  width: 30%;
  margin: 5% auto;
}

.return {
  /* color: #000B77; */
  font-weight: 700;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #F3F2EF;
  background-color: #000c77b9;
  width: 100%;
  margin: 0% auto;
  padding: 10px 10px;
  border: 1px solid #000c77b9;
  border-radius: 10px;
  box-sizing: border-box;
}

.return:link, .return:visited {
  color: #F3F2EF;
  font-weight: 700;
}
.return:hover {
  border: 1px solid #000c7794 ;
  background-color: #000c7794;
  color: #f3f2efb2;
  transition: 0.5s;
}

img.sample_img{
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px){
  #calendar {
    width: 150%;
    margin: 0 auto;
  }
}

