#loading {
    display: none;
    position: absolute;
    top: 10%;
    right: 50%;
}

#calendar {
    width: 90%;
    height:auto;
    margin: 0 auto;
}
#calendar .fc-toolbar-chunk div {
  display: flex;
}
#calendar .fc-toolbar-chunk h2 {
  margin: 0 10px;
}

#main-title h2{
  padding: 2.5% 5%;
  margin: 2.5% auto;
  color: #000B77;
  font-weight: 700;
}

img.ev{
  display: flex;
  padding: 0% 20%;
  margin: 5% auto .5% auto;
  object-fit: cover;
  width: 50%;
  height: auto;
  background-color: #FFF;
}

#select{
  margin: 5%;
}

#select h1 {
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #000B77;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
  font-size: 2.4rem;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#home1:checked ~ #home1_content,
#home2:checked ~ #home2_content,
#home3:checked ~ #home3_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #000B77;;
  color: #fff;
}

#voice ul{
  display:flex;
  justify-content: space-evenly;
  padding: 0%;
}

#voice li{
  width: calc(90%/3);
  margin: 2.5% 2.5% 5% 2.5%;
}

.name{
  color: #000B77;
  font-size: 1.8rem;
}

.voice_content{
  width: 90%;
  padding: 5%;
  border: 1px solid #000B77;
  line-height: 35px;
  box-shadow: 0px 5px 1px #000B77;
  border-radius: 5px;
}

.return-btn {
  padding: 0% 20%;
  width: 30%;
  margin: 5% auto;
}

.return {
  /* color: #000B77; */
  font-weight: 700;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #F3F2EF;
  background-color: #000B77;
  width: 100%;
  margin: 0% auto;
  padding: 10px 10px;
  border: 1px solid #000B77;
  border-radius: 10px;
  box-sizing: border-box;
}

.return:link, .return:visited {
  color: #F3F2EF;
  font-weight: 700;
}
.return:hover {
  border: 1px solid #000c7794 ;
  background-color: #000c7794;
  color: #f3f2efb2;
  transition: 0.5s;
}

img.sample_img{
  width: 100%;
  height: auto;
}

div[id^=tippy-] {
  pointer-events: auto !important;
}

.fc-scroller-harness {
  overflow: visible !important;
}
.fc-scroller {
  overflow: visible !important;
}
#tooltip {
  width: 280px;
  position: absolute;
  bottom: 20px;
  background: #333333;
  z-index: 9999;
  opacity: 1;
  color: #fff;
  padding: 5px 9px;
  border-radius: 5px;
  font-size: 1.4rem;
}
#tooltip .title {
  text-align: center;
}
#tooltip img {
  width: 100%;
}
#tooltip .background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: white;
  transition: all 0.3s;
}
#tooltip .background:hover {
  opacity: 0.3;
}

.item-list {
    position: relative;
}
.item-list ul {
    width: 85vw;
    display: flex;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0;
    overflow-x: scroll;
    list-style: none;
}
.item-list ul::-webkit-scrollbar {
    display: none;
}

.item-list .ul-button {
    background-color: rgba(15,23,30,.3);
    background-position: 50%;
    background-repeat: no-repeat;
    border: 0;
    color: transparent;
    height: 100%;
    outline: 0 none;
    padding: 0;
    position: absolute;
    top: 0;
    -webkit-transition: opacity .25s ease,background-color .25s ease;
    transition: opacity .25s ease,background-color .25s ease;
    width: 50px;
    z-index: 1;
}
.item-list .ul-button.right {
    opacity: 1;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE0Ljc2MyAxNy4yMzd2LTIuNDc0bC0xNCAxNGExLjc0OCAxLjc0OCAwIDAgMCAwIDIuNDc0Yy42ODMuNjg0IDEuNzkuNjg0IDIuNDc0IDBsMTQtMTRhMS43NDggMS43NDggMCAwIDAgMC0yLjQ3NGwtMTQtMTRBMS43NSAxLjc1IDAgMCAwIC43NjMgMy4yMzdsMTQgMTR6IiBmaWxsPSIjRUZGMUYxIi8+PC9zdmc+");
    right: 0;
    border-radius: 0 5px 5px 0;
}
.item-list .ul-button.left {
    opacity: 0;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTMuMjM3IDE3LjIzN3YtMi40NzRsMTQgMTRjLjY4NC42ODMuNjg0IDEuNzkgMCAyLjQ3NGExLjc0OCAxLjc0OCAwIDAgMS0yLjQ3NCAwbC0xNC0xNGExLjc0OCAxLjc0OCAwIDAgMSAwLTIuNDc0bDE0LTE0YTEuNzQ4IDEuNzQ4IDAgMCAxIDIuNDc0IDBjLjY4NC42ODMuNjg0IDEuNzkgMCAyLjQ3NGwtMTQgMTR6IiBmaWxsPSIjRUZGMUYxIi8+PC9zdmc+");
    left: 0;
    border-radius: 5px 0 0 5px;
}

.item {
    padding: 0 20px;
    min-width: 350px;
    text-align: center;
    position: relative;
}

.item img {
    width: 100%;
}

.item p {
  margin: 0;
}

.item .event-datetime {
  margin-top: 10px;
}

.item .background {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: 100%;
    border-radius: 3px;
    z-index: 2;
    background: black;
    opacity: 0;
    transition: all 0.3s;
    margin: 0 20px;
}
.item .background:hover {
    opacity: 0.3;
}

@media screen and (max-width: 640px) {
  #select h1 {
    font-size: 1.75rem;
  }
  .fc-daygrid-event div {
    font-size: 10px !important;
  }
}
