.block {
  margin-top: 60px;
}

.block.title img {
  display: block;
  margin: auto;
}

.block.description {
  box-shadow: 0 2px 4px 0 rgb(2 20 17 / 8%);
  background-color: #fff;
  padding: 24px;
}

.section {
  margin-bottom: 40px;
  letter-spacing: 1px;
  font-size: 1.6rem;
  line-height: 26px;
}
.section h2 {
  border-bottom: 2px solid #0314c2;
  padding-bottom: 4px;
}

.block.pdf {
  position: relative;
}
.block iframe {
  width: 100%;
}
.name-form-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.6;
  background: black;
  transition: all 0.3s;
  text-align: center;
}
.name-form {
  padding: 30px;
  padding-bottom: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  color: black;
  opacity: 1;
  z-index: 3;
}
.name-form div {
  padding-bottom: 20px;
}
.name-form form {
  display: flex;
  justify-content: space-around;
}
.name-form form label {
  display: block;
  font-size: 1rem;
}
.name-form form input {
  border: 1px solid silver;
  border-radius: 3px;
  display: block;
  line-height:10px;
  color: black;
}
.name-form form input:placefolder {
  color: silver;
}
.name-form form button {
  line-height: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background: #0F6DFD;
  border: 0;
  color: white;
}

.download-button {
  transition: all 0.3s;
  padding: 5px 10px;
  margin: 10px 0 10px auto;
  border-radius: 5px;
  background-color: #0311a9;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  display: none;
}
.download-button:hover {
  transition: all 0.3s;
  background-color: #3646f6;
}
