/****************************************
選考対策
****************************************/
#how-to-use {
    display: flex;
}
.how-to-use-content {
    flex-grow: 1;
    text-align: center;
    position: relative;
}
.how-to-use-content ul {
    position: absolute;
    top: 210px;
    left: 150px;
    font-size: 20px;
    text-align: left;
}
.how-to-use-content ul li {
    list-style: none;
}
.how-to-use-img {
    background-color: white;
    flex-grow: 1;
    max-width: 400px;
    border: 1px solid #DDD;
    border-radius: 50px;
    box-shadow: 10px 11px #ddd;
    margin-top: 20px;;
}
.how-to-use-logo {
    width: 300px;
    transform: rotate(-10deg);
    position: absolute;
    top: 70px;
    left: 180px;
}

.band {
    background-color: #000B77;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    color: white;
    border-bottom: 1px solid white;
}
.band-string {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 0 5px 5%;
}

.band-string.right {
    text-align: right;
    padding-right: 5%;
}
.band-string h1 {
    font-size: 30px;
    display: inline;
    border-bottom: 1px solid white;
}
.band-string span {
    font-size: 16px;
}

.pickup {
    display: flex;
    align-items: flex-start;
}
.pickup h1 {
    border-image: url("../images/selection-preparation/arrow.png");
    padding-bottom: 20px;
    border-bottom: solid;
    border-image-width: 40px;
    border-image-slice: 50 50;
}
.pickup a {
    margin: auto;
}
.pickup a img {
    width: 100%;
}
.pickup-img {
    max-width: 400px;
}

.item-list {
    width: 85vw;
    display: flex;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0;
    overflow-x: scroll;
    list-style: none;
}
.item {
    margin: 0 20px;
    min-width: 350px;
    text-align: center;
}
.item a {
    text-decoration: none;
    color: inherit;
}
.item a div {
    text-align: center;
}
