<footer>
    <div class="footer-content">
        <div class="footer-left">
            <div class="footer-logo">
                en-courage 京大支部
            </div>
            <div class="footer-description">
                2022年6月現在、1700人以上もの24卒の<br>方々に利用して頂いています。面談・ES添削・<br>面接練習・イベント紹介、なんでもござれ！
            </div>
            <button
                class="footer-button"
                onClick="location.href='<?php print $Path;?>pages/interview.html'"
            >
                面談申し込みはこちら
            </button>
        </div>
        <div class="footer-right">
            <span>menu</span>
            <ul class="footer-ul">
                <li><a href="<?php print $Path;?>index.html">トップ</a></li>
                <li><a href="<?php print $Path;?>pages/interview.html">面談</a></li>
                <li><a href="<?php print $Path;?>pages/event.html">イベント</a></li>
                <li><a href="<?php print $Path;?>pages/articles.html">記事一覧</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright">
        ©︎2022-2023 en-courage京大支部公式ホームページ
    </div>
</footer>
