<footer>
    <div class="footer-content">
        <div class="footer-left">
            <div class="footer-logo">
                en-courage 京大支部
            </div>
            <div class="footer-description">
                2022年6月現在、1700人以上もの24卒の<br>方々に利用して頂いています。面談・ES添削・<br>面接練習・イベント紹介、なんでもござれ！
            </div>
            <button class="footer-button">面談申し込みはこちら</button>
        </div>
        <div class="footer-right">
            <span>menu</span>
            <ul class="footer-ul">
                <li>トップ</li>
                <li>面談</li>
                <li>イベント</li>
                <li>記事一覧</li>
                <li>使い方</li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright">
        ©︎2022-2023 en-courage京大支部公式ホームページ
    </div>
</footer>
