<header>
    <div class="header-logo">
        <a href="<?php print $Path;?>index.html">en-courage京大支部</a>
    </div>
    <nav>
        <ul>
            <li class="tab_menu"><a href="<?php print $Path;?>pages/interview.html">　面談　</a></li>
            <li class="tab_menu"><a href="<?php print $Path;?>pages/event.html">イベント</a></li>
            <li class="tab_menu"><a href="<?php print $Path;?>pages/column.html">コラム</a></li>
            <li class="tab_menu"><a href="<?php print $Path;?>pages/experiences.html">選考体験記</a></li>
            <li class="tab_menu"><a href="<?php print $Path;?>pages/use.html">&nbsp;使い方&nbsp;</a></li>
        </ul>
    </nav>
</header>
