<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-WLHCR88');
</script>
<!-- End Google Tag Manager -->

<meta charset='utf-8' />
<meta name="google-site-verification" content="Ur7bUvFoaTbHX9ev7z45o-qwsiqR-gj86pvstV-4HQg" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>en-courage京大支部</title>
<link rel=”shortcut icon” href=”favicon.ico” type=”image/x-icon”>
<link rel=”apple-touch-icon” href=”apple-touch-icon-180×180.png” sizes=”180×180″>
<link rel=”icon” type=”image/png” href=”android-chrome-192×192.png” sizes=”192×192″>
<link rel='stylesheet' href='<?php print $Path; ?>css/default.css'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;700&display=swap">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
