<aside>
    <div class='sidebar-content'>
        <div class="sidebar-block">
            <h3>選考体験記を検索</h3>
            <form action="https://encourage-ku10.com/" method="get" class="search-form">
                <input type="search" name="search" placeholder="キーワードを入力" class="search-input"/>
                <button type="submit" name="submit" value="検索" class="search-submit">
                    <img src="../images/sidebar/search.png">
                </button>
            </form>
        </div>

        <div class="sidebar-block">
            <h3>類似の選考体験記</h3>
            <img src="../images/self-analysis/IMG_5934.PNG" class="sidebar-img">
            <img src="../images/self-analysis/IMG_5934.PNG" class="sidebar-img">
            <img src="../images/self-analysis/IMG_5934.PNG" class="sidebar-img">
        </div>

        <div class="sidebar-block">
            <h3>オススメのイベント</h3>
            <img src="../images/self-analysis/IMG_5935.JPG" class="sidebar-img">
            <img src="../images/self-analysis/IMG_5935.JPG" class="sidebar-img">
            <img src="../images/self-analysis/IMG_5935.JPG" class="sidebar-img">
            <img src="../images/self-analysis/IMG_5935.JPG" class="sidebar-img">
        </div>
    </div>
</aside>
