<aside>
    <div class='sidebar-content'>
        <div class="sidebar-block similar">
            <h3>類似の選考体験記</h3>
            <div id="similar-tmp" class="card" style="display: none;">
                <img>
                <div></div>
                <a class="background"></a>
            </div>
        </div>

        <div class="sidebar-block recommend">
            <h3>オススメのイベント</h3>
            <div id="recommend-tmp" class="card" style="display: none;">
                <img>
                <div></div>
                <a class="background" target="_blank"></a>
            </div>
        </div>
    </div>
</aside>
