#event-list ul {
  padding-left: 0;
  padding-right: 0;
  height: 75vh;
  overflow-y: auto;
}

#event-list li {
  list-style-type: none;
  text-align: center;
  min-width: 200px;
  width: calc(33% - 10px);
  margin: 5px;
  float: left;
}

#event-list img {
  width: 100%;
}

#event-list li a {
  text-decoration: none;
  color: inherit;
}

#event-list li div {
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-style: normal;
}

.table-wrapper {
  height: 500px;
  overflow-y: auto;
}

table {
  font-size: 12px;
}
thead {
  position: sticky;
  top: 0;
  background: #fff;
}

.modal-xl {
  max-width: 1300px;
}

.modal-next-action,.added-action,.removed-action {
  text-align: right;
  padding-top: 20px;
}

#update {
  opacity: 0;
}

.none {
  display: none;
}
