#event-list ul {
  padding-left: 0;
  padding-right: 0;
  height: 75vh;
  overflow-y: auto;
}

#event-list li {
  list-style-type: none;
  text-align: center;
  min-width: 200px;
  padding: 10px 5px;
  float: left;
  position: relative;
}
#event-list .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
  transition: all 0.3s;
}
#event-list .background:hover {
  opacity: 0.3;
}

#event-list .img-wrapper {
  width: 360px;
  margin-right: 20px;
}

#event-list img {
  width: 360px;
  max-height: 200px;
}

#event-list table {
  text-align: left;
  width: 100%;
  table-layout: fixed;
}

#event-list table tr {
  border-bottom: solid 0.5px rgba(0,0,0,0.2);
}

#event-list table th {
  border-right: solid 1px black;
  width: 100px;
  padding: 5px;
}

#event-list table td {
  padding: 5px;
  padding-left: 15px;
}

.table-wrapper {
  height: 450px;
  overflow-y: auto;
}

table {
  font-size: 12px;
}
thead {
  position: sticky;
  top: 0;
  background: #fff;
}

.modal-xl {
  max-width: 1300px;
}

.modal-next-action,.added-action,.removed-action {
  text-align: right;
  padding-top: 20px;
}

#update {
  opacity: 0;
}

.none {
  display: none;
}
