.container ul {
  width: 100%;
  overflow-x: auto;
  list-style: none;
  display: flex;
}

.container li {
  margin-right: 10px;
  position: relative;
  left: 0;
}

.container img {
  height: 180px;
}
